body {
    background: rgb(0, 0, 0);
    padding: 0px;
    margin: 0px;
    font-family: 'Arial', sans-serif;
    font-size: 17px;
    color: white;
    text-align: center;

  }
  .top {
    background: #4B9CD3;
    height: 60px;
    color: #000;
    list-style: none;
    text-align: right;
    padding: 20px 0 0 0;
    font-family: 'Arial', serif;
  }
  .top > li {
      display: inline-block;
      padding: 0 25px 0 25px;
      font-size: 15px;
  }
  .top > li > a:hover {
      color: #c1c1c1;
  }
  .text {
      color: rgb(255, 255, 255);
      float: left;
      padding-left: 35px;
      font-size: 32px;
  }
  
  .home {
    width: 20%;
    margin: 0px auto;
    margin-top: 100;
  }
  
  .home input {
    background: #fff;
    padding: 15px;
    width: 100%;
    margin-bottom: 20px;
    transition: 0.3s;
  }
  
  .home button {
    background: #4B9CD3;
    border: 1px solid #4B9CD3;
    padding: 15px;
    display: block;
    width: 100%;
    transition: 0.3s;
  }
  
  .home button:hover {
    background: #fff;
    color: #5d8ffc;
    cursor: pointer;
  }

  .signedin {
    width: 20%;
    margin: 0px auto;
    margin-top: 100;
  }

  .signedin button {
    background: #4B9CD3;
    border: 1px solid #4B9CD3;
    padding: 15px;
    display: block;
    width: 100%;
    transition: 0.3s;
  }

  .signedin button:hover {
    background: #fff;
    color: #5d8ffc;
    cursor: pointer;
  }
  